body {
    width: 100%;
}

#drum-machine {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 390px;
    height: 390px;
    max-height: 390px;
    flex-wrap: wrap;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.drum-pad {
    text-align: center;
    padding: 20px;
    width: 20%;
    border: 1px solid black;
}

#display, #displayText {
    text-align: center;
}